
                       
p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
font-weight: inherit;
line-height: inherit;
}

strong {
font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serify;
  line-height: 1.5em;
  font-weight: 300;	
}

strong {
 font-weight: 400;
}

.appStoryContent .col-4 {
  padding: 0 5px;
}

.tile {  
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;		
  padding: 20px;
  margin-bottom: 10px;
  min-height: 140px;
  cursor: pointer;
  position: relative;
} 

.title {
    margin-top: 0px;
    font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serify;
    line-height: 1.5em;
    /* font-weight: 300;	 */
    font-size: 15px;
    min-height: 55px;
}

.purple, .blue, .red, .orange, .green {
  color: #fff;
}

.purple {
  background: #5133AB;
}

.purple:hover {
  background: darken(#5133AB, 10%);
}	

.red { background: #AC193D;}

.red:hover {
  background: darken(#AC193D, 10%);
}		


.green {background: #00A600;}

.green:hover {
background: darken(#00A600, 10%);
}		


.blue {   background: #2672EC;}

.blue:hover {
background: darken(#2672EC, 10%);
}	


.orange {  background: #DC572E;}

.orange:hover {
background: darken(#DC572E, 10%);
}

.countParticipation {
  font-size: 12px;
  margin-bottom: 0;
}

.userName {
  font-family: "rufina";
  font-size: 30px;
  /* font-weight: bold; */
  margin-top: 20px;
}

.tagLine {
  font-family: "DM Sans";
  font-size: 18px;
  color: #353C3F;
  opacity: 0.7;
  margin-bottom: 10px;
}
.bottomSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mobile-app-icon-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #f5f5f5;
}

.mobile-app-icon-bar button {
  padding: 1.25rem;
  cursor: pointer;
}

.mobile-app-icon-bar a {
  padding: 1.25rem;
  cursor: pointer;
  color: #353C3F;
  font-size: 24px;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
  font-size: 2rem;
  max-height: 2rem;
  max-width: 2rem;
}

.modal-dialog {
  top: 100px;
}

.favoriteItem {
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
  font-size: 20px;
}

.favoriteItemActive {
  color: yellow;
}

.spinnerCustom {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 50px);
}